
/* Titulo */
#main-title {
    border: 6px solid rgba(4, 235, 108, 0.671);
}
#main-title h1 {
        color: rgba(4, 235, 108, 0.671);
;
}

/*Fondo general*/
body {
    background-color: rgba(3, 58, 28, 0.384);
}

#main-Container {
    background-color: rgba(255, 255, 255, 0.384);

}

#JQuery h2 {
    text-align: center;
}


#JQuery-Sub h2 {
    text-align: center;
    color:  rgba(53, 255, 144, 0.671); 
    font-style: italic;
    font-size:  2rem;
    
}
#JQuery-Sub1  h2{
    text-align: center;
    color:  rgb(255, 255, 255); 
    font-style: italic;
    font-size:  1.5rem;
    
} 
 .JQuery-Sub1 {
    background-color: rgba(6, 119, 34, 0.514);

    
} 

 